.admin-lab-author-socials-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.admin-lab-author-socials-list.vertical {
    flex-direction: column;
}

.admin-lab-author-social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.admin-lab-author-social-icon {
    display: inline-block;
    line-height: 1;
    height: var(--icon-size, 24px);
    width: var(--icon-size, 24px);
    color: var(--icon-color, currentColor);
}

.admin-lab-author-social-icon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.admin-lab-author-social-icon svg path {
    fill: var(--icon-color, currentColor);
}
